Repository ComputationalPhysiology/ap_features: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: python -m isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: python -m black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: python -m flake8

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: python -m mypy
  pass_filenames: false

Don't pass any linking options for OpenMP on Windows
  setup.py
Due: isort, black, mypy

Move common.h into C subdirectory
  src/c/common.h
Due: none

setup.cfg: Update path of Python code
  setup.cfg
Due: none

src/c/common.h: Add include guard
  src/c/common.h
Due: none

src/c: clang-format files
  src/c/.clang-format
  src/c/cost_terms.c
Due: none

src/c/cost_terms.h: clang-format
  src/c/cost_terms.h
Due: none

Bump version
  setup.py
Due: isort, black, mypy

Move files around
  src/c/cost_terms.c
  src/python/ap_features/__init__.py
  src/python/ap_features/_c.py
  src/python/ap_features/_numba.py
  src/python/ap_features/lib.py
  src/python/ap_features/utils.py
  tests/test_ap_features.py
Due: isort, black, flake8, mypy

Rename library
  setup.py
  src/python/ap_features/_c.py
  src/python/ap_features/_numba.py
  src/python/ap_features/lib.py
  src/python/ap_features/utils.py
Due: isort, black, flake8, mypy

Unify apd calculation
  setup.py
  src/c/cost_terms.c
  src/python/ap_features/__init__.py
  src/python/ap_features/_c.py
  src/python/ap_features/_numba.py
  src/python/ap_features/utils.py
  tests/test_features.py
Due: isort, black, flake8, mypy

Add new code
  src/python/ap_features/background.py
  src/python/ap_features/beat.py
  src/python/ap_features/chopping.py
  src/python/ap_features/features.py
  tests/conftest.py
  tests/test_beat.py
Due: isort, black, flake8, mypy

Add scipy as dependency
  setup.cfg
Due: none

Add more doctrings and types
  src/python/ap_features/__init__.py
  src/python/ap_features/background.py
  src/python/ap_features/beat.py
  src/python/ap_features/features.py
  src/python/ap_features/utils.py
  tests/test_beat.py
Due: isort, black, flake8, mypy

Update documentation and add tests for background correction
  .gitignore
  CONTRIBUTING.md
  Makefile
  README.md
  docs/INSTALL.md
  docs/USAGE.md
  docs/conf.py
  docs/index.rst
  docs/installation.rst
  docs/usage.rst
  requirements_dev.txt
  setup.cfg
  src/python/ap_features/background.py
  tests/test_background.py
Due: isort, black, flake8, mypy

Add a few more pre-commit hooks
  .pre-commit-config.yaml
Due: none

Update pre-commit config
  .pre-commit-config.yaml
Due: none

Run pre-commit on all files
  LICENSE
  demo/fitzhugh_nagumo.py
  requirements_dev.txt
  setup.cfg
  setup.py
  src/python/ap_features/_c.py
  src/python/ap_features/beat.py
  src/python/ap_features/features.py
  src/python/ap_features/utils.py
  tests/conftest.py
Due: isort, black, flake8, mypy

Implement more features
  .pre-commit-config.yaml
  AUTHORS.md
  demo/fitzhugh_nagumo.py
  src/python/ap_features/__init__.py
  src/python/ap_features/_c.py
  src/python/ap_features/_numba.py
  src/python/ap_features/beat.py
  src/python/ap_features/chopping.py
  src/python/ap_features/features.py
  src/python/ap_features/utils.py
  tests/test_chopping.py
  tests/test_features.py
Due: isort, black, flake8, mypy

Fix docs
  docs/conf.py
  setup.cfg
  src/python/ap_features/background.py
  src/python/ap_features/beat.py
  src/python/ap_features/features.py
Due: isort, black, flake8, mypy

Fix mypy issue
  src/python/ap_features/_numba.py
Due: isort, black, flake8, mypy

Fix bugs in tests
  src/python/ap_features/beat.py
  src/python/ap_features/chopping.py
  tests/test_beat.py
  tests/test_chopping.py
Due: isort, black, flake8, mypy

Add codecov
  .github/workflows/main.yml
  .gitignore
Due: none

Update codecov settings
  .github/workflows/main.yml
  setup.cfg
Due: none

Add badges to readme
  .github/workflows/main.yml
  README.md
Due: none

Run black
  setup.py
  tests/conftest.py
Due: isort, black, flake8, mypy

Remove duplocates in .clang_format
  src/c/.clang-format
Due: none

Use black profile when running isort
  setup.cfg
Due: none

Use reorder-python-imports instead to isort
  .pre-commit-config.yaml
  demo/fitzhugh_nagumo.py
  docs/conf.py
  setup.cfg
  setup.py
  src/python/ap_features/_c.py
  src/python/ap_features/beat.py
  src/python/ap_features/chopping.py
  src/python/ap_features/features.py
  src/python/ap_features/lib.py
  src/python/ap_features/utils.py
  tests/test_background.py
  tests/test_beat.py
  tests/test_chopping.py
  tests/test_features.py
Due: isort, black, flake8, mypy

Add a few more pre-commit hooks
  .pre-commit-config.yaml
  docs/conf.py
  setup.cfg
  setup.py
  src/python/ap_features/_c.py
  src/python/ap_features/_numba.py
  src/python/ap_features/background.py
  src/python/ap_features/chopping.py
  src/python/ap_features/features.py
  src/python/ap_features/utils.py
  tests/test_chopping.py
  tests/test_features.py
Due: isort, black, flake8, mypy

Group badges together
  README.md
Due: none

Start adding classes for Beatcollection
  src/python/ap_features/beat.py
  src/python/ap_features/features.py
Due: isort, black, flake8, mypy

Implement a few more clasess and test agains h5py dataset and dask array
  requirements_dev.txt
  setup.cfg
  src/python/ap_features/__init__.py
  src/python/ap_features/_c.py
  src/python/ap_features/beat.py
  src/python/ap_features/features.py
  src/python/ap_features/utils.py
  tests/conftest.py
  tests/test_beat.py
Due: isort, black, flake8, mypy

Fix error in type checker
  src/python/ap_features/_c.py
  src/python/ap_features/utils.py
Due: isort, black, flake8, mypy

Update version config
  .bumpversion.cfg
  src/python/ap_features/__init__.py
Due: isort, black, flake8, mypy

Update version config
  .bumpversion.cfg
Due: none

Bump version: 1.0.0 → 2021.0.0
  .bumpversion.cfg
  setup.py
  src/python/ap_features/__init__.py
Due: isort, black, flake8, mypy

Update ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE.md
Due: none

Refactor chopping of trace into individual beats
  src/python/ap_features/__init__.py
  src/python/ap_features/beat.py
  src/python/ap_features/chopping.py
  src/python/ap_features/features.py
  tests/test_beat.py
  tests/test_chopping.py
Due: isort, black, flake8, mypy

Add a few more types
  src/python/ap_features/beat.py
  src/python/ap_features/chopping.py
  src/python/ap_features/features.py
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
  mypy: any of: \.py$
