Repository ComputationalPhysiology/ap_features: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: python -m isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: python -m black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: python -m flake8

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: python -m mypy
  pass_filenames: false

Add files
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  Makefile
  ap_features/__init__.py
  ap_features/ap_features.py
  cmake/BuildType.cmake
  requirements_dev.txt
  setup.cfg
  setup.py
  src/CMakeLists.txt
  src/Makefile
  src/cost_terms.c
  src/cost_terms.h
  src/cost_terms_main.c
  tests/__init__.py
  tests/cost_terms.npy
  tests/data.npy
  tests/test_ap_features.py
Due: isort, black, flake8, mypy

Set up cmake in deploy pipeline
  .github/workflows/deploy.yml
Due: none

Try to mimic pybind11
  .github/workflows/deploy.yml
Due: none

Try to lower minimum requred cmake version
  .github/workflows/deploy.yml
  src/CMakeLists.txt
Due: none

Remove python version matrix
  .github/workflows/deploy.yml
Due: none

Try to use submodules
  .github/workflows/deploy.yml
Due: none

Change cmake version back to 3.9
  src/CMakeLists.txt
Due: none

Remove fatal error if minimum cmake version is not satisfied
  src/CMakeLists.txt
Due: none

Add pyproject.toml with build system info
  pyproject.toml
Due: none

Do not build binary by default
  src/CMakeLists.txt
Due: none

Do not run repair wheel command
  .github/workflows/deploy.yml
  pyproject.toml
  setup.py
Due: isort, black, mypy

Try to build libomp on macosx
  .github/workflows/deploy.yml
  build_utils/build_libomp.sh
Due: none

Fix command for building libomp
  .github/workflows/deploy.yml
Due: none

Attempt to install libomp in default location
  .github/workflows/deploy.yml
  build_utils/build_libomp.sh
Due: none

Change the way we install the extension
  MANIFEST.in
  Makefile
  ap_features/ap_features.py
  setup.py
  src/CMakeLists.txt
  src/cmake/BuildType.cmake
Due: isort, black, flake8, mypy

Update config files
  setup.cfg
  setup.py
Due: isort, black, mypy

Don't build wheels for windows
  .github/workflows/deploy.yml
Due: none

Update deploy to pypi commands
  .github/workflows/deploy.yml
Due: none

Update version and also upload mac wheels to pypi
  .github/workflows/deploy.yml
  setup.py
Due: isort, black, mypy

Remove classifiers
  setup.cfg
Due: none

Turn on repair wheel command so that linux wheels are acceped by pypi
  .github/workflows/deploy.yml
Due: none

Bump version
  setup.py
Due: isort, black, mypy

Check if openmp is installed and adjust arguments to linker and compiler
  pyproject.toml
  setup.py
  src/cost_terms.c
Due: isort, black, mypy

Update url on github
  ap_features/__init__.py
  docs/installation.rst
  setup.cfg
Due: isort, black, flake8, mypy

Add demo
  demo/fitzhugh_nagumo.py
Due: isort, black, flake8, mypy

Add github pages
  .github/workflows/github-pages.yml
  CONTRIBUTING.md
  README.md
  ap_features/__init__.py
Due: isort, black, flake8, mypy

Install pandoc in github pages gh action
  .github/workflows/github-pages.yml
Due: none

Update build folder for githuh pages
  .github/workflows/github-pages.yml
Due: none

Update link to documentation
  README.md
Due: none

trapz: Initialise loop-variable properly
  src/cost_terms.c
Due: none

all_cost_terms: Set num_threads=1 if OpenMP is unavailable
  src/cost_terms.c
Due: none

all_cost_terms_c: Check that number of trace points is consistent
  ap_features/ap_features.py
Due: isort, black, flake8, mypy

Link OpenMP with -fopenmp on Linux
  setup.py
Due: isort, black, mypy

setup.py: Format C code to test if OpenMP works
  setup.py
Due: isort, black, mypy

Change to src/ layout to prevent issues with not running the installed version
  Makefile
  setup.cfg
  setup.py
  src/c/CMakeLists.txt
  src/c/Makefile
  src/c/cmake/BuildType.cmake
  src/c/cost_terms.c
  src/c/cost_terms.h
  src/c/cost_terms_main.c
  src/python/ap_features/__init__.py
  src/python/ap_features/ap_features.py
Due: isort, black, flake8, mypy

Rename max and min functions to array_{min,max}_double
  src/cost_terms.c
Due: none

Allocate per-thread parameter count array on heap
  src/cost_terms.c
Due: none

undo deletion of stride variable
  src/cost_terms.c
Due: none

Update CI pipeline to run on all platforms
  .github/workflows/deploy.yml
  .github/workflows/main.yml
Due: none

Export function names properly on Windows
  setup.py
  src/common.h
  src/cost_terms.c
  src/cost_terms.h
  src/cost_terms_main.c
Due: isort, black, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
  mypy: any of: \.py$
